# Environment
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Build
dist/
build/
*.egg-info/

# OS
.DS_Store
Thumbs.db
*.db
Backend/src/search-ahmed-bc893f97c910.json
Frontend/log1.txt
Frontend/logs.txt
logs/api_routes.log
logs/convert_slides_to_pdf.log
logs/extractor_callbacks.log
logs/generate_sow_document.log
